main{
    background: url(../img/fondoContacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2{
    color: white;
}
.form-control{
    width: 400px;
    }

.divForm{
    background: #39393902;
    backdrop-filter: blur(1rem);
    background-clip: border-box;

    }
